<%- include('partials/header') %>
<div class="jumbotron">
  <div class="heading">
    <h1>Sorry User not registered!</h1>
    <h3>Please register now!</h3>
      <a href="register" class="btn btn-lg btn-dark">
      Register</a> 
    
  </div>
</div>

<%- include('partials/footer') %>
