<%- include('partials/header') %>
<div class="jumbotron">
  <div class="heading">
    <h1>Sorry incorrect password!</h1>
    <h3>Please try again!</h3>
     <a href="login" class="btn btn-lg btn-dark btn-outline-light" role="button">
       Retry</a> 
    
  </div>
</div>

<%- include('partials/footer') %>
